
<div class="list-group">

  <div *ngFor="let playlist of playlists; index as i"
    class="list-group-item"
    [class.active]=" playlist.id === selected "
    (click)="select(playlist.id)">
    {{i+1}}. {{playlist.name}}
  </div>

</div>

<!-- <input type="text" [(ngModel)]="playlists[0].name"> -->
<!--

    <ng-template ngFor [ngForOf]="playlists"
      let-playlist="$implicit"
      let-i="index">

      <div class="list-group-item">
        {{i+1}}. {{playlist.name}}
      </div>
    </ng-template> -->
