<div class="list-group">
  <div class="list-group-item d-flex" 
  [class.active]="selected === track.id"
  *ngFor="let track of tracks" (click)="selectTrack(track)">
    <span> {{track.name}} </span>
    <span class="ml-auto">{{track.duration_ms | duration}}</span>
    <span class="ml-1"><button class="btn" (click)="playTrack(track)" appStopEvent>Play</button></span>
    <span class="ml-1"><button class="btn" (click)="addToPlaylist(track)" appStopEvent>+</button></span>
  </div>
</div>