<p>playground works!</p>




<div class="dropdown" appDropdown>

  <!-- (click)="menuRef.toggle()" -->
  <button class="btn btn-secondary dropdown-toggle"
  [appDropdownToggle]="menuRef">
    Dropdown button
  </button>

  <div class="dropdown-menu" appDropdownMenu #menuRef="appDropdownMenu">
    <a class="dropdown-item" href="#/playground">Action</a>
    <a class="dropdown-item" href="#/playground">Another action</a>
    <a class="dropdown-item" href="#/playground">Something else here</a>
  </div>
</div>

<h3></h3>

<div class="dropdown" appDropdown>
  <button class="btn btn-secondary dropdown-toggle" appDropdownToggle>
    Dropdown button
  </button>
  <div class="dropdown-menu" appDropdownMenu>
    <a class="dropdown-item" href="#/playground">Action</a>
    <a class="dropdown-item" href="#/playground">Another action</a>
    <a class="dropdown-item" href="#/playground">Something else here</a>
  </div>
</div>









<!-- <h4>Collapse</h4>
<app-tab title="Single">
  Tab Single
</app-tab>

<h4>Accordion</h4>
<app-tabs>
  <app-tab title="A">
    Tab A
  </app-tab>

  <app-tab title="B">
    Tab B
    <app-tabs>

    <app-tab title="A">
      Tab A
    </app-tab>
    </app-tabs>
  </app-tab>

  <app-tab [title]="tab" *ngFor="let tab of ['C','D']">
    Tab {{tab}}
  </app-tab>

</app-tabs> -->
