<form #formRef="ngForm" (ngSubmit)="submitForm(formRef)">
  <app-card>

    <!-- <pre>{{playlist  | json }}</pre>
  <pre>{{draft  | json }}</pre> -->

    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" ngModel name="name" #nameRef="ngModel" required minlength="3" appCensor>
      <span> {{170 - nameRef.value?.length}} / 170 </span>
    </div>

    <div class="form-group">
      <label><input type="checkbox" ngModel name="public"> Public</label>
    </div>

    <div class="form-group">
      <label>Description:</label>
      <textarea class="form-control" ngModel name="description"></textarea>
    </div>


    <ng-container ngProjectAs="footer">
      <button class="btn btn-danger" (click)="cancelClick()">Cancel</button>
      <button class="btn btn-success" type="submit">Save</button>
    </ng-container>
  </app-card>

</form>
