<p class="alert alert-danger" *ngIf="message">{{message}}</p>


<div class="row" *ngIf="album$ | async as album else loading">
  <div class="col">
    <app-album-card [album]="album"></app-album-card>
  </div>
  <div class="col">
    <h2>{{album!.name}}</h2>
    <h4>{{album!.artists[0]?.name}}</h4>


    
    <app-tracks-list [tracks]="album!.tracks!.items" [selected]="selectedTrack?.id" (add)="addToPlaylist($event)"
      (play)="playTrack($event)" (select)="selectTrack($event)"></app-tracks-list>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>