<div class="row row-cols-1 row-cols-sm-4 no-gutters">
  <div class="col mb-4" *ngFor="let result of results">
    <!-- <app-album-card
      [album]="result"
      [routerLink]="['/music/albums']"
      [queryParams]="{id:result.id}">
    </app-album-card> -->

    <app-album-card [album]="result" [routerLink]="['/music/albums/',result.id]">
    </app-album-card>


    <!-- {{album.id}} -->
  </div>
</div>
