<!-- <p>Found {{(results | async)?.length}} results</p> -->
<!-- .row>.col>app-search-form^^.row>.col>app-search-results -->
<div class="row">
  <div class="col">
    <app-search-form [query]="query | async" (search)="searchAlbums($event)"></app-search-form>
    <app-recent-searches></app-recent-searches>
  </div>
</div>

<div class="row">
  <div class="col">

    <p class="alert alert-danger" *ngIf="message | async as notification">
      {{notification}}
    </p>

    <ng-container *ngIf="results | async as albums">
      <p>Found {{(albums)?.length}} results</p>

      <app-search-results [results]="albums"></app-search-results>
    </ng-container>

  </div>
</div>
