<div class="alert alert-info">{{message}}</div>


<div class="row">
  <div class="col">
    <router-outlet name="list"></router-outlet>

  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- <p class="alert alert-info" *ngIf="!(selectedId | async)">
  Please select playlist
</p>
<ng-container [ngSwitch]="mode" *ngIf="selected | async as playlist">

  <div *ngSwitchDefault>
    <app-playlist-details (cancel)="cancel()" (edit)="switchToEdit()" [playlist]="playlist "></app-playlist-details>

  </div>

  <div *ngSwitchCase=" 'edit' ">
    <app-playlist-edit-form [playlist]="playlist " (cancel)="cancel()" (save)="savePlaylistChanges($event)">
    </app-playlist-edit-form>

  </div>

</ng-container> -->

<!-- <ng-template #detailsRef>
  <app-playlist-details></app-playlist-details>
  <button class="btn btn-info" (click)="switchToEdit()">Edit</button>
</ng-template>

<ng-template #formRef>
  <app-playlist-edit-form></app-playlist-edit-form>
  <button class="btn btn-danger" (click)="switchToDetails()">Cancel</button>
</ng-template> -->