<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">

  <div class="container">
    <a class="navbar-brand" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active placki"
      routerLink="/">{{title}}</a>

    <button class="navbar-toggler" type="button" (click)="open =! open">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="open">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active placki" routerLink="/music">Music</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active placki" [routerLink]="['/','playlists']">Playlists</a>
        </li>
      </ul>
      <div class="ml-auto text-white">
        
        <app-recent-searches class="mr-3"></app-recent-searches>
        <span class="navbar-text" (click)="login()">Login</span>
      </div>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div style="position: absolute; left:0; bottom:0; width:450px">
  <app-player></app-player>
</div>