<app-card>

  <span ngProjectAs="title">
    <span data-test-id="title">{{playlist.name | titlecase}}</span>
  </span>

  <dl [title]="playlist.name" [attr.data-id]="playlist.id">

    <!-- <dt>Name:</dt>
    <dd [ngStyle]="{
      'font-size.px':20 + 2
    }">{{playlist.name | titlecase}}</dd> -->

    <dt>Public:</dt>
    <dd class="is-public" [ngClass]="{
      'is-public-yes':playlist.public,
           'is-public-no':!playlist.public
          }">{{ playlist.public | yesno }}</dd>

    <dt>Description:</dt>
    <dd>{{playlist.description | slice:0:30 }}</dd>
  </dl>

  <ng-container ngProjectAs="footer">
    <button data-test-id="cancel-btn" class="btn btn-danger" (click)="cancel.emit()">Cancel</button>
    <button data-test-id="edit-btn" class="btn btn-info" (click)="edit.emit(playlist)">Edit</button>
  </ng-container>

  <!-- <a href="#" class="card-link">Card link</a>
  <a href="#" class="card-link">Another link</a> -->
</app-card>
