/* You can add global styles to this file, and also import other style files */
// @import url('')

@import "~bootstrap/dist/css/bootstrap.css";

// @import "~bootstrap/scss/bootstrap.scss";

// $primary:       hotpink;

// $enable-caret:                                true;
// $enable-rounded:                              false;
// $enable-shadows:                              true;
// $enable-gradients:                            true;
// $enable-transitions:                          true;
// $enable-prefers-reduced-motion-media-query:   true;
// $enable-hover-media-query:                    false; // Deprecated, no longer affects any compiled CSS
// $enable-grid-classes:                         true;
// $enable-pointer-cursor-for-buttons:           true;
// $enable-print-styles:                         true;
// $enable-responsive-font-sizes:                false;
// $enable-validation-icons:                     true;
// $enable-deprecation-messages:                 true;


// @import "functions";
// @import "variables";
// @import "mixins";
// @import "root";
// @import "reboot";
// @import "type";
// @import "images";
// @import "grid";
// @import "tables";
// @import "forms";
// @import "buttons";
// @import "input-group";
// @import "custom-forms";
// @import "nav";
// @import "navbar";
// @import "card";
// @import "alert";
// @import "list-group";
// @import "close";
// @import "spinners";
// @import "utilities";
