<form [formGroup]="searchForm" class="mb-3">

  <div class="input-group">

    <input type="text" class="form-control" placeholder="Search" formControlName="query">

    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="submitSearch()">Search</button>
    </div>

  </div>
  <p class="float-right" (click)="extras = !extras">Toggle extras</p>

  <!-- https://material.angular.io/components/form-field/overview#error-messages -->
  <!-- <div *appFormMessages="searchForm.get('query')">
    <div *appFormMessage="'required'">Query is required</div>
    <div *appFormMessage="'minlength' as error">  Query must be at least {{error.requiredLength}}</div>
  </div> -->

  <ng-container *ngIf="searchForm.get('query') as field">
    <p class="float-left" *ngIf="field.pending">Validating...</p>
    <ng-container *ngIf="field.dirty || field.touched">
      <p *ngIf="field.hasError('required')">
        Query is required
      </p>
      <p *ngIf="field.getError('minlength')  as  error ">
        Query must be at least {{error.requiredLength}} characters long
      </p>
      <p *ngIf="field.getError('censor')  as  error ">
        Query cannot contain "{{error.badword}}"
      </p>
    </ng-container>
  </ng-container>

  <ng-container formGroupName="extras" *ngIf="extras">
    <div class="form-group">

      <select formControlName="type" class="form-control">
        <option value="album">Album</option>
        <option value="artist">Artist</option>
        <option value="track">Track</option>
      </select>
    </div>

    <div class="form-group">
      <div class="list-group" formArrayName="markets">
        <div class="list-group-item" *ngFor="let market of markets.controls; index as i" [formGroupName]="i">
          <span class="close close-fix" (click)="removeMarket(i)">&times;</span>
          <input type="text" class="form-control" formControlName="code">
        </div>
        <div class="list-group-item">
          <button class="btn btn-info" (click)="addMarket()">Add Market</button>
        </div>
      </div>
    </div>
  </ng-container>
</form>

<style>
  .close-fix {
    position: absolute;
    right: 30px;
    top: 17px;
  }
</style>
